::-webkit-scrollbar { width: 0;}
body {
  font-family: 'DM Sans';
  background-color: #121212;
  color: #FFF;
}

:root {
  --accent-color: #BEA69E;
  --sub-color: rgba(255, 255, 255, 0.50);
}

.container {
  max-width: 355px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.about__title, .courses__title, .mentors__title, 
.sign__title, .clients__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}

.about__title span, .courses__title span, .mentors__title span, .sign__title span {
  color: var(--accent-color);
}

.hero__subtext, .about__text, .about__subtext, 
.courses__text, .advantage__head p, .sign__text, 
.client_info {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ============== */
.big__cmrs {
  display: none;
}
.header {
  padding: 20px 0;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__sign {
  padding: 16px 58px;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  color: #121212;
  border-radius: 12px;
  background-color: #fff;
  color: #121212;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  flex-shrink: 0;
  transition: all .7s;
  display: none;
}

.header__inner {
  width: 100%;
  display: flex;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding: 14px 20px;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__navigation {
  display: none;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__camera {
  width: 32px;
  height: 32px;
  background-color: #1D1D1D;
  border-radius: 50%;
  align-content: center;
  text-align: center;
}

.header__button {
  display: flex;
  background-color: transparent;
  margin-left: 14px;
  width: 40px;
  height: 28px;
  align-items: center;
}

.header__button svg {
  fill: #FFF;
}

/* ======= */


.hero {
  position: relative;
  border-radius: 30px;
  background: #1D1D1D;
  min-height: 770px;
}


.hero__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  padding: 40px 20px;
}

.hero__title span {
  color: var(--accent-color);
  font-style: italic;
  font-weight: 400;
}

.hero__subtext {
  padding: 0px 20px 40px;
}

.hero__reviews {
  display: flex;
}

.students {
  max-width: 154px;
  padding-left: 20px;
}

.students img {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 2px solid #1D1D1D
}

.boy {
  margin-left: -20px;
}

.girl{
  margin-left: -20px;
}

.hero__arrow {
  display: flex;
  align-items: center;
  max-width: 89px;
  margin-top: 4px;
  gap: 4px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  flex-shrink: 0;
}
.hero__arrow p {
  max-width: 67px;
}

.reviews {
  display: flex;
}

.star {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: #BEA69E;
  text-align: center;
  align-content: center;
  margin-left: 40px;
}

.wrapper__rev {
  margin-left: 12px;
}

.reviews__text {
  color: var(--sub-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.user__reviews {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-top: 4px;
}

.photographer {
  text-align: center;
  margin-top: 30px;
  padding: 0px 38px;
}


.about {
  margin-top: 50px;
  padding: 0px 20px;
}

.about__title {
  margin-bottom: 25px;
}

.about__text {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about__text, .about__subtext {
  max-width: 330px;
}

.courses {
  margin-top: 60px;
  padding: 0 20px;
}

.courses__title {
  margin-bottom: 20px;
}

.courses__text {
  max-width: 330px;
  margin-bottom: 40px;
}

.advantage {
  max-width: 355px;
  width: 100%;
  min-height: 368px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
  padding: 28px 28px;
  margin-bottom: 20px;
}

.advantage:last-child {
  margin-bottom: 0px;
}

.advantage__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.advantage__head p {
  color: rgba(255, 255, 255, 0.40);
}

.arrow-right {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #1D1D1D;
  border-radius: 100px;
  padding: 6px;
  transition: .5s;
}

.arrow-right:hover {
  background-color: var(--accent-color);
}


.advantage__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}

.advantage__subtext {
  color: var(--sub-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.mentors {
  margin-top: 80px;
  padding: 0 20px;
}

.mentors__title {
  margin-bottom: 40px;
}

.mentor {
  text-align: center;
  margin-bottom: 40px;
}

.mentor:last-child {
  margin-bottom: 0;
}

.mentor__img {
  border-radius: 200px;
  margin-bottom: 16px;
}

.mentor__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}

.mentor__info {
  color: var(--sub-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.24px;
}

.sign {
  margin-top: 80px;
}

.sign__title {
  margin-bottom: 20px;
}

.sign__text {
  width: 295px;
  margin-bottom: 41px;
}

.sign__camera {
  display: none;
}

.register__inpt, .modal__inpt {
  max-width: 335px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  min-height: 46px;
  padding: 14px 0 14px 18px;
  line-height: 1.28;
  font-size: 14px;
  background: none;
  color: #fff;
  margin-bottom: 8px;
}

.message {
  max-width: 335px;
  min-height: 112px;
  flex-shrink: 0;
  padding: 18px 0 80px 14px;
  width: 100%;
  margin-bottom: 0;
}

.register__btn {
  max-width: 335px;
  width: 100%;
  padding: 14px 127px;
  background: #fff;
  color: #121212;
  border-radius: 12px;
  margin-top: 40px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
  transition: all .5s;
}

.register__btn:hover, .header__sign:hover, .modal__btn:hover {
  color: var(--accent-color);
  background-color: #1D1D1D;
}

.register__text, .modal__text {
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
  line-height: 1.33;
}

.register__text span, .modal__text span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.clients {
  margin-top: 80px;
}
.modal__open  {
  background: #1d1d1d;
  max-width: 110px;
  font-size: 12px;
  width: 100%;  
  height: 30px;
  border: 0.2px solid #000;
  border-radius: 12px;
  cursor: pointer;
}

.client {
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding: 20px;
  margin-bottom: 12px;
}

.client__img {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  margin-right: 10px;
}

.client__wrapper {
  display: flex;
}

.client__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}

.client_subinfo {
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.24px;
  margin-bottom: 10px;
}

.client_info {
  margin-top: 10px;
}

.footer {
  margin-top: 80px;
}

.number, .geo {
  display: inline-block;
  margin-top: 9px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.28;
}

.footer__wrap {
  display: flex;
  margin-top: 40px;
  font-size: 14px;
}

.footer__wrap a {
  transition: all .5s;
}

.footer__wrap a:hover {
  color: var(--accent-color);
}

.social {
  margin-right: 40px;
}

.footer__wrap li {
  margin-bottom: 14px;
}

.footer__reg {
  margin-top: 55px;
  display: flex;
  margin-bottom: 40px;
}

.footer_inpt {
  display: block;
  max-width: 267px;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background: #FFF;
  padding: 20px 0px 20px 18px;
}

.footer__submit {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #1D1D1D;
  margin-left: 8px;
  flex-shrink: 0;
}

.footer__privacy {
  display: flex;
  line-height: 1.33;
  font-size: 12px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.menu {
  position: fixed;
  max-width: 218px;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: block;
  background-color: var(--accent-color);
  animation: nav-animation 1s;
}

.is-hidden {
  display: none;
  pointer-events: none;
}

@keyframes nav-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} 

.no-scroll {
  overflow: hidden;
}

.modal__close-btn  {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
}
.modal__close-button  {
  background: none;
}
.header__nav {
  padding-top: 180px;
  padding-left: 20px;
  color: #121212;
  font-size: 14px;
}
.fw {
  font-weight: 700;
}
.header__nav li {
  margin-bottom: 20px;
}
.header__nav li:last-child {
  margin-bottom: 0px;
}
.head__img {
  position: absolute;
  bottom: 0;
}
/* ========= */

@media screen and (min-width:735px) {
  .container {
    max-width: 735px;
    width: 100%;
    padding: 0 16px;
  }
  .big__cmrs {
    display: none;
  }
  .about__title, .courses__title, .sign__title, 
  .clients__title, .mentors__title  {
    font-size: 48px;
    line-height: 112.5%;
    letter-spacing: -1.92px;
  }

  .about__text-wrap, .courser__text,
  .sign__text  {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }

  .header__camera {
    display: none;
  }
  .header__inner {
    padding: 16px 20px;
  }
  .header__sign {
    display: block;
  }
  .students {
    display: flex;
    max-width: 259px;
    gap: 12px;
    width: 100%;
  }
  .hero__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 106.667%;
    letter-spacing: -2.4px;
    padding: 64px 155px 0 32px;
  }
  .hero__subtext {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
    padding: 20px 254px 40px 32px;
  }
  .hero__title span {
    color: var(--accent-color);
  }
  .hero__reviews {
    padding: 0 254px 40px 10px;
  }
  .students img {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    border: 3px solid #1D1D1D
  }
  .hero__arrow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 82px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.64px;
  }
  .hero__arrow p {
    max-width: 82px;
  }
  .star {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.64px;
  }
  .user__reviews  {
    margin-top: 8px;
  }
  .photographer {
    padding: 0px 155px;
  }
  .about__text-wrap {
    margin-top: 50px;
    display: flex;
    gap: 40px;
  }
  .about__text {
    margin-top: 0;
    margin-bottom: 0;
  }
  .courses {
    margin-top: 100px;
    padding: 0;
  }
  .courses__text-wrap {
    display: flex;
    gap: 58px;
    padding: 0 20px;
  }
  .advantages {
    width: 704px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 20px;
  }
  .advantage {
    max-width: 342px;
    width: 100%;
  }
  .mentors {
    margin-top: 100px;
  }
  .mentor {
    max-width: 180px;
  }
  .mentors__title {
    margin-bottom: 50px;
  }
  .mentors__wrap-wrap {
    display: flex; 
    justify-content: center;
  }
  .mentors__wrap {
    display: flex; 
    flex-wrap: wrap;
    max-width: 488px;
    width: 100%;
    gap: 100px;
  }
  .mentor {
    margin-bottom: 0;
  }
  .mentor img {
    width: 180px;
    height: 180px;
    border-radius: 200px;
  }
  .mentor__name {
    font-size: 28px;
    line-height: 1.14;
  }
  .mentor__info {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
  }
  .sign {
    margin-top: 100px;
    padding: 0 20px;
  }
  .sign__text {
    max-width: 480px;
    width: 100%;
  }
  .register__inpt {
    max-width: 480px;
    padding: 20px 340px 20px 18px;
  }
  .message {
    padding: 20px 397px 79px 18px;
  }
  .register__btn {
    margin-top: 40px;
    padding: 16px 240px;
    font-size: 18px;
    font-weight: 700;
    line-height: 155.556%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register__text {
    max-width: 480px;
    width: 100%;
    font-size: 14px;
    line-height: 128.571%;
  }
  .clients {
    margin-top: 100px;
    padding: 0 32px;
  }
  .clients__title {
    margin-bottom: 50px;
  }
  .clients__wrap {
    padding: 0 32px;
  }
  .client__inner {
    display: flex;
  }
  .client__name {
    font-size: 20px;
    line-height: 1.4; 
  }
  .client_subinfo {
    top: 26px;
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
  }
  .starts {
    margin-left: 163px;
  }
  .client_info {
    margin-top: 20px;
  }
  .footer {
    margin-top: 100px;
  }
  .footer__wrapper {
    display: flex;
  }
  .footer__info {
    max-width: 152px;
    width: 100%;
  }
  .number {
    margin-top: 16px;
  }
  .footer__wrap {
    margin-top: 0;
    margin-left: 48px;
  }
  .footer__reg {
    margin-top: 0;
    margin-bottom: 160px;
    margin-left: 55px;
  }
  .footer__privacy {
    font-size: 14px;
    line-height: 128.571%;
    margin-bottom: 25px;
  }
  .menu {
    max-width: 480px;
  }
  .modal__close-btn svg {
    width: 40px;
    height: 40px;
  }
  .header__nav {
    padding-left: 64px;
  }
  .head__img {
    height: 476px;
  }
}

/* ============== */

@media  screen and (min-width:1280px) {
  .container {
    max-width: 1280px;
    width: 100%;
    padding: 0 100px;
  }

  .header__inner {
    padding: 21px 50px;
  }
  .header__button {
    display: none;
  }
  .header__navigation {
    display: block;
  }
  .header__item {
    transition: all 0.5s;
  }
  .header__item:hover {
    color: var(--accent-color);
  }
  .header__sign {
    padding: 16px 84px;
    margin-left: 20px;
  }
  .hero {
    position: relative;
    min-height: 600px;
  }
  .hero__title {
    max-width: 583px;
    width: 100%;
    font-size: 64px;
    line-height: 1.06;
    letter-spacing: -2.56px;
    padding: 50px 0 0 50px;
  }
  .hero__subtext {
    max-width: 418px;
    width: 100%;
    padding: 20px 0 0 50px;
  }
  .photographer {
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 0;
    margin: 0;
  }
  .hero__reviews {
    margin-top: 136px;
    padding: 0 0 0 20px;
  }
  .photographer img {
    width: 397px;
    height: 520px;
    flex-shrink: 0;
  }
  .about {
    padding: 0;
    margin-top: 150px;
  }
  .about__title {
    margin-bottom: 50px;
  }
  .about__wrapper {
    display: flex;
  }
  .camera {
    max-width: 488px;
    height: 260px;
    margin-right: 40px;
  }
  .about__text-wrap {
    margin-top: 0px;
    gap: 20px;
  }
  .about__text {
    max-width: 268px;
    width: 100%;
  }
  .about__subtext {
    max-width: 264px;
    width: 100%;
  }
  .courses {
    margin-top: 150px;
  }
  .courses__title {
    margin: 0;
  }
  .courses__text-wrap {
    padding: 0;
    gap: 0;
    justify-content: space-between;
  }
  .courses__text {
    margin: 0;
  }
  .advantages {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1081px;
    width: 100%;
  }
  .advantage {
    margin-bottom: 0;
  }
  .mentors {
    margin-top: 150px;
    padding: 0;
  }
  .mentor {
    max-width: 180px;
  }
  .mentor:nth-child(3) {
    max-width: 194px;
    width: 100%;
  }
  .mentors__wrap {
    justify-content: start;
    max-width: 1034px;
    flex-wrap: nowrap;
  }
  .sign {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    padding: 0;
  }
  .sign__wrap {
    max-width: 480px;
  }
  .sign__camera {
    display: flex;
  }
  .shtativ__wrap {
    position: absolute;
    bottom: 50px;
    max-width: 180px;
    width: 100%;
    height: 288px;
    padding: 86px 19px 62px 0px;
    border-radius: 1000px;
    background: #BEA69E;
    text-align: center;
    align-content: center;
    box-shadow: -35.562px 17.781px 25.44px 0px rgba(0, 0, 0, 0.26);
  }
  .shtativ {
    margin-left: -20px;
    width: 150px;
    height: 142px;
  }
  .big__wrap {
    margin-left: 200px;
    padding: 156px 50px 88px 50px;
    max-width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: #1D1D1D;
  }
  .big__camera {
    width: 240px;
    height: 296px;
  }
  .clients__wrap {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .clients {
    margin-top: 150px;
    padding: 0;
  }
  .client {
    max-width: 530px;
    margin-bottom: 0;
  }
  .starts {
    margin-left: 83px;
  }
  .footer {
    margin-top: 150px;
  }
  .footer__wrapper {
    justify-content: space-between;
  }
  .footer__wrap {
    gap: 50px;
  }
  .footer__info {
    max-width: 300px;
    width: 100%;
  }
  .footer_inpt {
    padding: 20px 78px 20px 18px;
  }
}

@media  screen and (min-width:1440px) {
  .container {
    max-width: 1440px;
    width: 100%;
  }
  .camera {
    width: 560px;
    height: 240px;
  }
  .about__text-wrap {
    gap: 40px;
    align-items: center;
  }
  .about__text {
    max-width: 314px;
    width: 100%;
  }
  .about__subtext {
    max-width: 276px;
    width: 100%;
  }
  .courses__text {
    max-width: 565px;
    width: 100%;
  }
  .advantages {
    max-width: 1240px;
  }
  .advantage {
    max-width: 400px;
    min-height: 412px;
  }
  .advantage__title {
    margin-bottom: 200px;
  }
  .shtativ__wrap {
    max-width: 190px;
    width: 100%;
  }
  .big__wrap {
    max-width: 350px;
    width: 100%;
    margin-left: 210px;
  }
  .client {
    max-width: 610px;
  }
}

@media  screen and (min-width:1680px) {
  .container {
    max-width: 1680px;
    width: 100%;
    padding: 0 50px;
  }
  .about__title, .courses__title, .mentors__title, 
  .sign__title, .clients__title {
    font-size: 54px;
}
  .hero__subtext, .about__text, .about__subtext, 
  .courses__text, .advantage__head p, .sign__text, 
  .client_info {
  font-size: 16px;
}
.header__button {
  text-align: center;
  align-content: center;
}
.big__cmrs {
  padding: 62px 50px 0px 50px;
  max-width: 340px;
  height: 440px;
  border-radius: 1000px;
  background-color: var(--accent-color);
  position: absolute;
  top: 80px;
  right: 500px;
  display: block;
  box-shadow: -35.562px 17.781px 25.44px 0px rgba(0, 0, 0, 0.26);
}
.big__cmrs img {
  width: 240px;
  height: 296px;
  opacity: 0.9;
}
.students img{
  width: 64px;
  height: 64px;
}
.hero__arrow {
  font-size: 18px;
}
.hero__arrow svg {
  width: 32px;
  height: 12px;
}
.star {
  width: 60px;
  padding: 15px;
  height: 60px;
  margin-left: 110px;
}
.star svg {
  width: 30px;
  height: 30px;
}
.reviews__text {
  font-size: 16px;
}
.user__reviews {
  font-size: 20px;
}
.camera {
  max-width: 688px;
  height: 340px;
}
.about__text {
  max-width: 450px;
}
.about__subtext {
  max-width: 435px;
}
.advantages {
  max-width: 1680px;
}
.advantage {
  max-width: 600px;
  min-height: 550px;
}
.arrow-right {
  width: 38px;
  height: 38px;
  margin-bottom: 30px;
}
.advantage__title {
  font-size: 34px;
  margin-bottom: 340px;
}
.advantage__subtext {
  font-size: 16px;
}
.mentor {
  max-width: 250px;
  width: 100%;
}
.mentors img {
  width: 250px;
  height: auto;
  border-radius: 1000px;
}
.mentor:nth-child(3) {
  max-width: 250px;
  width: 100%;
}
.mentor__name {
  font-size: 28px;
}
.mentor__info {
  font-size: 16px;
}
.mentors__wrap {
  max-width: 1680px;
  justify-content: space-between;
}
.sign__wrap {
  max-width: 780px;
}
.sign__text {
  max-width: 580px;
}
.register__inpt {
  font-size: 18px;
  max-width: 780px;
  height: 80px;
}
.message {
  min-height: 180px;
  padding-bottom: 129px;
}
.register__btn {
  max-width: 780px;
  height: 70px;
  font-size: 21px;
}
.register__text {
  max-width: 780px;
  font-size: 18px;
}
.sign__camera {
  margin-left: 120px;
}
.shtativ__wrap {
  height: 388px;
  right: 380px;
}
.shtativ {
  max-width: 250px;
  width: 100%;
  height: 242px;
}
.big__wrap {
  height: 650px;
  margin-top: 55px;
  margin-left: 310px;
}
.client {
  padding: 30px;
  max-width: 780px;
  height: 270px;
}
.client__img {
  width: 76px;
  height: 76px;
  margin-right: 18px;
  margin-bottom: 20px;
}
.client__name {
  font-size: 24px;
}
.client_subinfo {
  font-size: 18px;
}
.starts {
  margin-left: 300px;
}
.starts svg {
  width: 24px;
  height: 24px;
}
.number, .geo, .footer__wrap  {
  font-size: 18px;
}
}

@media  screen and (min-width:1920px) {
  .container {
    max-width: 1920px;
    width: 100%;
    padding: 0 50px;
  }
  .big__cmrs {
    right: 620px;
  }
  .about__text-wrap {
    max-width: 1100px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .advantages {
    max-width: 1920px;
  }
  .advantage {
    min-height: 635px;
  }
  .advantage__title {
    margin-bottom: 385px;
  }
  .shtativ__wrap {
    right: 485px;
  }
  .big__wrap {
    margin-top: 15px;
    margin-left: 340px;
  }
  .clients__wrap {
    max-width: 1920px;
    width: 100%;
  }
  .client {
    max-width: 880px;
  }
  .client_info {
    margin-top: 48px;
  }
  .starts {
    margin-left: 400px;
  }
  .footer__wrap {
    gap: 80px;
  }
}